.earnings {
    display: flex;
  
    .earningsContainer {
      flex: 6;
  
      .top {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        h1 {
          color: gray;
          font-size: 20px;
        }
  
        select {
          padding: 5px;
          border-radius: 5px;
        }
      }
  
      .bottom {
        padding: 20px;
        display: flex;
        flex-direction: column;
  
        .totalEarnings {
          margin-bottom: 20px;
          
          h2 {
            font-size: 18px;
            color: gray;
            margin-bottom: 10px;
          }
  
          p {
            font-size: 24px;
            font-weight: bold;
  
            &.positive {
              color: green;
            }
  
            &.negative {
              color: red;
            }
          }
        }
  
        .chart {
          width: 100%;
          height: 400px;
        }
      }
    }
  }